{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="header__section">
    <nav>
        <div id="logo"><a href="{% url 'home:home' %}"><h3>Kazifiti</h3></a></div>
        <ul class="nav__links">
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><a href="{% url 'home:works' %}">Work</a></li>
            <li><a href="{% url 'home:approach' %}">Approach</a></li>
            <li><a href="{% url 'home:services' %}">Services</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</div>

<section class="contact__section">
            <div class="row">
                <h2>Contact & Address</h2>
                <p>New business, general curiosity, enquiries or support:</p>
            </div>
            <div class="row">
                <p class="mail">hello@kazifiti.com</p>
                <p class="cell">(+254)711594901</p>
            </div>
            <div class="row">
                <p class="address">Nairobi + Hamburg</p>
            </div>
        </section>

        <!-- Footer -->
        <section class="contact-footer footer">
            <div class="row">

                <!-- Address -->
                <div class="col span-1-of-3">
                    <p class="footer__section">Kazifiti</p>
                    <p class="footer__section">Nairobi+Hamburg</p>
                </div>

                <!-- Contacts -->
                <div class="col span-1-of-3">
                    <p class="footer__section">Contact us</p>
                    <p class="contacts socials">hello@kazifiti.com</p>
                </div>

                <!-- Socials -->
                <div class="col span-1-of-3">
                    <p class="footer__section">Follow us</p>
                    <p class="socials">
                        <a href="https://twitter.com" target="_blank">Twitter</a>
                    </p>
                </div>
            </div>
        </section>
{% endblock %}
