/* --------The Approach Page ---------------------- */
.header__section {
	height: 2vh;
}

.approach__section {
	padding: 4%;
}

.approach__section .row {
	margin-bottom: 10px;
}

.approach__section .row h2 {
	font-size: 300%;
	font-weight: 700;
}

.approach__section .row p {
	font-size: 280%;
	font-weight: 700;
}

.approach__section .row .white {
	color: #ffffff;
}

.approach__section .row .col {
	padding: 1%;
}

.approach__section .row .col p {
	font-size: 80%;
	font-weight: 200;
}

.approach__section .row .col .section__one {
	margin-bottom: 20px;
}
/* ------------------------------------------------ */
