/* --------The Approach Page ---------------------- */
/* --------Navigation ----------------------------- */
.header__section {
	height: 2vh;
}

#logo a {
	font-size: 100%;
	font-weight: normal;
	color: #ffffff;
}

.approach__section {
	padding: 4%;
}

.approach__section .row {
	margin-bottom: 30px;
}

.approach__section .row h2 {
	font-size: 300%;
	font-weight: 700;
	color: #ffffff;
}

.approach__section .row p {
	font-size: 280%;
	font-weight: 400;
	color: #ffffff;
}

.approach__section .row .col {
	padding: 1%;
}

.approach__section .row .col p {
	font-size: 85%;
	font-weight: 200;
	color: #ffffff;
}

.approach__section .row .col .section__one {
	margin-bottom: 20px;
}
/* ------------------------------------------------ */
