/* -----------------Contact Page----------------- */
.header__section {
	height: 6vh;
}

.contact__section {
	padding: 6%;
}

.contact__section .row h2 {
	color: #ffffff;
	font-size: 300%;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact__section .row p {
	font-size: 200%;
	font-weight: 600;
}

.contact__section .row .mail {
	text-decoration: underline;
	font-size: 200%;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffff;
}

.contact__section .row .cell {
	text-decoration: underline;
	font-size: 200%;
	font-weight: 700;
	margin-bottom: 20px;
	color: #ffffff;
}
/* --------------------------------------------- */
