/* Big Screens 1024-1200px */
@media only screen and (max-width: 1200px) {
    /* HomePage */
    /* Header */
    header {
        height: 100vh;
    }

    /* ------------------- Navigation -------------------------- */
    nav {
        align-items: center;
        background-color: #C5C5C5;
        display: flex;
        justify-content: space-around;
        min-height: 20vh;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    /* Logo */
    #logo {
        cursor: hand;
        margin-right: 750px;
    }

    #logo a {
        text-decoration: none;
    }

    #logo a h3 {
        font-size: 75%;
        font-weight: 400;
        color: #000000;
    }

    .nav__links {
        align-items: center;
        background-color: #858585;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 82vh;
        position: absolute;
        width: 50%;
        right: 0;
        top: 18vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav__links li {
        list-style: none;
        opacity: 0;
    }

    .nav__links a {
        letter-spacing: 1px;
        font-size: 220%;
        font-weight: 700;
        color: #ffffff;
    }

    /* ------------ Burger Menu ------------------------ */
    .burger {
        cursor: default;
        display: block;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
    }
    /* ------------------------------------------------- */

    .nav__active {
        transform: translateX(0%);
    }

    /* -------- Animations ----------------------------- */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* ------------------------------------------------ */

    .content {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .hero {
        height: 85%;
        width: 85%;
        margin-top: 180px;
    }

    .hero p {
        height: 100%;
        width: 100%;
        font-size: 290%;
        font-weight: 700;
    }

    /* --------- Projects Section ----------- */
    .selected__projects__section .row h2 {
        text-align: center;
        font-size: 180%;
        font-weight: 600;
        color: #ffffff;
    }
   
    .selected__projects__section .wrapper {
        padding: 4em;
        display: grid;
        grid-gap: 3em;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .selected__projects__section .wrapper .projects {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .selected__projects__section .wrapper .projects a img {
        width: 100%;
    }

    .selected__projects__section .wrapper .projects p {
        text-align: left;
        font-size: 60%;
        padding-bottom: 10px;
        margin-left: 10px;
        color: #ffffff;
    }

    .selected__projects__section .wrapper .projects p.skill {
        padding-top: 20px;
        text-align: left;
        font-size: 77%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 5px;
    }
    /* ----------------------------------------- */
    /* ----------------------------------------- */

    /* ApproachPage */
    .header__section {
        height: 6vh;
    }

    .approach__section {
        padding: 6%;
    }

    .approach__section .row {
        margin-bottom: 10px;
    }

    .approach__section .row h2 {
        font-size: 300%;
        font-weight: 700;
        color: #ffffff;
        margin-top: 50px;
    }

    .approach__section .row p {
        font-size: 220%;
        font-weight: 600;
    }


    .approach__section .row .col {
        padding: 1%;
    }

    .approach__section .row .col p {
        font-size: 70%;
        font-weight: 200;
    }
    /* ------------------------------------------------ */

    /* -------------- THE SERVICES PAGE ---------------- */
    .header__section {
        height: 6vh;
    }

    .services__section {
        padding: 6%;
    }

    .services__section .row {
        margin-bottom: 10px;
    }

    .services__section .row h2 {
        font-size: 300%;
        font-weight: 700;
        color: #ffffff;
        margin-top: 50px;
    }

    .services__section .row p {
        font-size: 220%;
        font-weight: 600;
    }

    .services__section .row .col {
        padding: 1%;
    }

    .services__section .row .col h4 {
        font-size: 150%;
        font-weight: 700;
        margin-bottom: 10px;
        color: #ffffff;
    }

    .services__section .row .col p {
        font-size: 60%;
        font-weight: 200;
    }
    /* ----------------------------------------------- */

    /* ContactsPage */
    .contact__section .row h2 {
        color: #ffffff;
        font-size: 300%;
        font-weight: 700;
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .contact__section .row .address {
        margin-bottom: -30px;
    }
    /* ------------------------------------------- */
}

/* portrait tablets, portrait iPad Mini, 768-1023px */
@media only screen and (max-width: 1023px) {
    /* Header */
    header {
        height: 94vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 600px;
    }

    #logo a h3 {
        font-size: 70%;
        font-weight: 400;
    }

    .nav__links {
        height: 88vh;
        top: 12vh;
    }

    .nav__links li {
        list-style: none;
        opacity: 0;
    }

    .nav__links a {
        letter-spacing: 1px;
        font-size: 230%;
        font-weight: 600;
        color: #ffffff;
    }

    .content {
        height: 80vh;
    }

    .hero {
        height: 80%;
        width: 85%;
        margin-top: 160px;
    }

    .hero p {
        font-size: 260%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 200%;
    }

    /* Footer Section */
    .footer .row .col {
        padding-left: 100px;
    }
    /* ------------------------------------------------- */

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 270%;
    }

    .approach__section .row p {
        font-size: 190%;
    }
    /* ------------------------------------------------- */

    /* ContactsPage */
    .contact__section {
        padding: 6%;
    }

    .contact__section .row p {
        font-size: 165%;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section {
        padding: 6%;
    }

    .services__section .row h2 {
        margin-top: 20px;
        font-size: 270%;
    }

    .services__section .row p {
        font-size: 190%;
        margin-bottom: 0;
    }
    
    .services__section .row .col p {
        font-size: 70%;
        font-weight: 200;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .wrapper .projects {
        padding: 1em;
    }

    .works__section .wrapper .projects p {
        font-size: 55%;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }

    /* Projects Detail Section */
    .project_detail_section .wrapper {
        padding: 2em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project_detail_section .wrapper .project {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .project_detail_section .wrapper .project img {
        width: 100%;
    }

    .project_detail_section .wrapper .project h2 {
        font-size: 70%;
        font-weight: 600;
        color: #000000;
        padding-bottom: 10px;
        text-align: center;
    }

    .project_detail_section .wrapper .project p {
        text-align: left;
        font-size: 50%;
        padding-bottom: 10px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    /* ------------------------------------------------- */
}

/* iPad 810x1080 */
@media only screen and (max-width: 810px) {
    /* Header */
    header {
        height: 57vh;
    }

    /* Navigation */
    nav {
        min-height: 10vh;
    }

    /* Logo */
    #logo {
        margin-right: 390px;
    }

    #logo a h3 {
        font-size: 90%;
        font-weight: 400;
    }

    .nav__links {
        height: 50vh;
        width: 50%;
        top: 10vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 55vh;
    }

    .hero {
        width: 85%;
    }

    .hero p {
        font-size: 220%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 160%;
    }

    .selected__projects__section .wrapper {
        padding: 4em;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .selected__projects__section .wrapper .projects {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .selected__projects__section .wrapper .projects p {
        font-size: 50%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 200%;
        margin-top: 40px;
    }

    .approach__section .row p {
        font-size: 180%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 300%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 220%;
    }

    .contact__section .row .mail {
        font-size: 200%;
    }
    
    .contact__section .row .cell {
        font-size: 200%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* 767px */
@media only screen and (max-width: 767px) {
    /* Header */
    header {
        height: 80vh;
    }

    /* Navigation */
    nav {
        min-height: 15vh;
    }

    /* Logo */
    #logo {
        margin-right: 400px;
    }

    .nav__links {
        height: 85vh;
        top: 15vh;
    }

    .nav__links a {
        font-size: 200%;
    }

    .content {
        height: 80vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 200%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 200%;
        margin-bottom: 0;
    }

    .selected__projects__section .wrapper {
        padding: 2em;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .selected__projects__section .wrapper .projects {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .selected__projects__section .wrapper .projects p {
        font-size: 50%;
    }

    /* Footer Section */
    .footer .row .col {
        padding-left: 80px;
    }
    /* ------------------------------------------------- */

    /* ApproachPage */
    .approach__section {
        padding: 8%;
    }

    .approach__section .row h2 {
        font-size: 270%;
        margin-top: 20px;
    }

    .approach__section .row p {
        font-size: 160%;
    }

    .approach__section .row .col p {
        font-size: 60%;
    }
    /* ------------------------------------------------- */

    /* ContactsPage */
    .contact__section {
        padding: 8%;
    }

    .contact__section .row h2 {
        font-size: 270%;
        margin-top: 20px;
    }

    .contact__section .row p {
        font-size: 160%;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section {
        padding: 8%;
    }

    .services__section .row p {
        font-size: 160%;
    }
    
    .services__section .row .col p {
        font-size: 60%;
        font-weight: 200;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .wrapper {
        padding: 2em;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .works__section .wrapper .projects {
        padding: 1em;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }

    /* Projects Detail Section */
    .project_detail_section .wrapper {
        padding: 2em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project_detail_section .wrapper .project {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .project_detail_section .wrapper .project img {
        width: 100%;
    }

    .project_detail_section .wrapper .project h2 {
        font-size: 70%;
        font-weight: 600;
        color: #000000;
        padding-bottom: 10px;
        text-align: center;
    }

    .project_detail_section .wrapper .project p {
        text-align: left;
        font-size: 50%;
        padding-bottom: 10px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    /* ------------------------------------------------- */
}

/* 479px */
@media only screen and (max-width: 479px) {
    /* Header */
    header {
        height: 80vh;
    }

    /* Navigation */
    nav {
        min-height: 15vh;
    }

    /* Logo */
    #logo {
        margin-right: 220px;
    }

    .nav__links {
        height: 85vh;
        width: 100%;
        top: 15vh;
    }

    .nav__links a {
        font-size: 160%;
    }

    .content {
        height: 80vh;
    }

    .hero {
        width: 85%;
    }

    .hero p {
        font-size: 165%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 170%;
    }
    /* ------------------------------------------------- */

    /* ApproachPage */
    .approach__section {
        padding: 10%;
    }

    .approach__section .row h2 {
        font-size: 240%;
    }

    .approach__section .row p {
        font-size: 140%;
    }
    /* ------------------------------------------------- */

    /* ContactsPage */
    .contact__section {
        padding: 10%;
    }

    .contact__section .row h2 {
        font-size: 200%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 140%;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section {
        padding: 10%;
    }

    .services__section .row h2 {
        font-size: 240%;
    }

    .services__section .row p {
        font-size: 140%;
    }
    
    .services__section .row .col p {
        font-size: 60%;
        font-weight: 200;
        padding: 2%;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .wrapper {
        padding: 2em;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .works__section .wrapper .projects {
        padding: 1em;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }

    /* Projects Detail Section */
    .project_detail_section .wrapper {
        padding: 2em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project_detail_section .wrapper .project {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .project_detail_section .wrapper .project img {
        width: 100%;
    }

    .project_detail_section .wrapper .project h2 {
        font-size: 70%;
        font-weight: 600;
        color: #000000;
        padding-bottom: 10px;
        text-align: center;
    }

    .project_detail_section .wrapper .project p {
        text-align: left;
        font-size: 50%;
        padding-bottom: 10px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    /* ------------------------------------------------- */
}

/* iPhone12/13ProMax 428x926 */
@media only screen and (max-width: 428px) {
    /* Header */
    header {
        height: 67vh;
    }

    /* Navigation */
    nav {
        min-height: 10vh;
    }

    /* Logo */
    #logo {
        margin-right: 150px;
    }

    #logo a h3 {
        font-size: 75%;
    }

    .nav__links {
        height: 60vh;
        width: 100%;
        top: 10vh;
    }

    .nav__links a {
        font-size: 150%;
    }

    .content {
        height: 67vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 150%;
        font-weight: 700;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 150%;
    }

    /* ApproachPage */
    .approach__section {
        padding: 10%;
    }

    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section {
        padding: 10%;
    }

    .contact__section .row h2 {
        font-size: 170%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 170%;
    }

    .contact__section .row .mail {
        font-size: 140%;
    }
    
    .contact__section .row .cell {
        font-size: 140%;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* GalaxyNote9 414x846 */
@media only screen and (max-width: 414px) {
    /* Header */
    header {
        height: 61vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 150px;
    }

    #logo a h3 {
        font-size: 75%;
    }

    .nav__links {
        height: 62vh;
        width: 100%;
        top: 10vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 61vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 140%;
        font-weight: 700;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 130%;
    }

    /* ApproachPage */
    .approach__section {
        padding: 10%;
    }

    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section {
        padding: 10%;
    }

    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 140%;
    }

    .contact__section .row .mail {
        font-size: 140%;
    }
    
    .contact__section .row .cell {
        font-size: 140%;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 100%;
    }

    .services__section .row .col h4 {
        font-size: 120%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* GalaxyNote20 412x915 */
@media only screen and (max-width: 412px) {
    /* Header */
    header {
        height: 70vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 150px;
    }

    .nav__links {
        height: 59vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 150%;
        font-weight: 700;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 130%;
    }

    /* ApproachPage */
    .approach__section {
        padding: 10%;
    }

    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section {
        padding: 10%;
    }

    .contact__section .row h2 {
        font-size: 170%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 170%;
    }

    .contact__section .row .mail {
        font-size: 140%;
    }
    
    .contact__section .row .cell {
        font-size: 140%;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* Pixel2 411x731 */
@media only screen and (max-width: 411px) {
    /* Header */
    header {
        height: 75vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 110px;
    }

    .nav__links {
        height: 66vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 140%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 30px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 120%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* Pixel5 393x851 */
@media only screen and (max-width: 393px) {
    /* Header */
    header {
        height: 70vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 110px;
    }

    .nav__links {
        height: 64vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 140%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 30px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 120%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* iPhone12/13 + 12/13Pro 390x844 */
@media only screen and (max-width: 390px) {
    /* Header */
    header {
        height: 70vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 110px;
    }

    .nav__links {
        height: 64vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 140%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 30px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 120%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* GalaxyS20+ 384x854 */
@media only screen and (max-width: 384px) {
    /* Header */
    header {
        height: 65vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 110px;
    }

    .nav__links {
        height: 64vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 130%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 30px;
    }

    .approach__section .row p {
        font-size: 120%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 120%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }
    /* ------------------------------------------------- */
}

/* iPhone11Pro 375x812 */
@media only screen and (max-width: 375px) {
    /* Header */
    header {
        height: 80vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 90px;
    }

    #logo a h3 {
        font-size: 70%;
        font-weight: 400;
    }

    .nav__links {
        height: 67vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 140%;
    }

    .content {
        height: 80vh;
    }

    .hero {
        width: 80%;
        margin-top: 100px;
    }

    .hero p {
        font-size: 150%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 140%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 170%;
        margin-top: 20px;
    }

    .approach__section .row p {
        font-size: 100%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 130%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 170%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 100%;
    }

    .services__section .row .col h4 {
        font-size: 110%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}

/* GalaxyS10/S10+ 360x760 */
@media only screen and (max-width: 360px) {
    /* Header */
    header {
        height: 80vh;
    }

    /* Navigation */
    nav {
        min-height: 13vh;
    }

    /* Logo */
    #logo {
        margin-right: 90px;
    }

    .nav__links {
        height: 87vh;
        width: 100%;
        top: 13vh;
    }

    .nav__links a {
        font-size: 120%;
    }

    .content {
        height: 70vh;
    }

    .hero {
        width: 80%;
    }

    .hero p {
        font-size: 120%;
        margin-top: 0;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }
    /* ------------------------------------------------- */

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 170%;
        margin-top: 20px;
    }

    .approach__section .row p {
        font-size: 100%;
    }
    /* ------------------------------------------------- */

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 140%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 130%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 170%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 100%;
    }

    .services__section .row .col h4 {
        font-size: 110%;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }
    /* ------------------------------------------------- */
}

/* 359px */
@media only screen and (max-width: 359px) {
    /* Header */
    header {
        height: 80vh;
    }

    /* Navigation */
    nav {
        min-height: 15vh;
    }

    /* Logo */
    #logo {
        margin-right: 140px;
    }

    .nav__links {
        height: 85vh;
        width: 100%;
        top: 15vh;
    }

    .nav__links a {
        font-size: 160%;
    }

    .content {
        height: 80vh;
    }

    .hero {
        width: 85%;
    }

    .hero p {
        font-size: 140%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 140%;
    }
    /* ------------------------------------------------- */

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .approach__section .row p {
        font-size: 120%;
    }
    /* ------------------------------------------------- */

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 150%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 120%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }
    /* ------------------------------------------------ */

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 40px;
    }

    .services__section .row p {
        font-size: 120%;
    }

    .services__section .row .col h4 {
        font-size: 130%;
    }
    /* ------------------------------------------------- */

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }

    /* Work_detailsPage */
    /* Logo */
    #detail__logo {
        font-size: 70%;
        font-weight: 700;
        margin-right: 250px;
        cursor: hand;
    }

    #detail__logo a {
        text-decoration: none;
        color: #000000;
    }

    /* Projects Detail Section */
    .project_detail_section .wrapper {
        padding: 2em;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .project_detail_section .wrapper .project {
        padding: 1em;
        border-radius: .3em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .project_detail_section .wrapper .project img {
        width: 100%;
    }

    .project_detail_section .wrapper .project h2 {
        font-size: 70%;
        font-weight: 600;
        color: #000000;
        padding-bottom: 10px;
        text-align: center;
    }

    .project_detail_section .wrapper .project p {
        text-align: left;
        font-size: 50%;
        padding-bottom: 10px;
        margin-left: 10px;
        color: #f1f1f1;
    }
    /* ------------------------------------------------- */
}

/* iPhone5/SE 320x568 */
@media only screen and (max-width: 320px) {
    /* Header */
    header {
        height: 90vh;
    }

    /* Navigation */
    nav {
        min-height: 12vh;
    }

    /* Logo */
    #logo {
        margin-right: 100px;
    }

    .nav__links {
        height: 87.5vh;
        width: 100%;
        top: 12vh;
    }

    .nav__links a {
        font-size: 120%;
    }

    .content {
        height: 90vh;
    }

    .hero {
        width: 80%;
        margin-top: 80px;
    }

    .hero p {
        font-size: 120%;
    }

    /* Projects Section */
    .selected__projects__section .row h2 {
        font-size: 120%;
    }

    /* ApproachPage */
    .approach__section .row h2 {
        font-size: 180%;
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .approach__section .row p {
        font-size: 105%;
    }

    /* ContactsPage */
    .contact__section .row h2 {
        font-size: 120%;
        margin-top: 40px;
    }

    .contact__section .row p {
        font-size: 100%;
    }

    .contact__section .row .mail {
        font-size: 120%;
    }
    
    .contact__section .row .cell {
        font-size: 120%;
        text-decoration: none;
    }

    /* ServicesPage */
    .services__section .row h2 {
        font-size: 180%;
        margin-top: 20px;
    }

    .services__section .row p {
        font-size: 100%;
    }

    .services__section .row .col h4 {
        font-size: 120%;
    }

    /* ProjectsPage */
    .works__section .row h1 {
        font-size: 180%;
        font-weight: 700;
    }

    .works__section .wrapper .projects p {
        font-size: 50%;
    }
    
    .works__section .wrapper .projects p.skill {
        padding-top: 10px;
        font-size: 60%;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px;
    }
}
