/* -------------- THE SERVICES PAGE ---------------- */
/* --------Navigation ----------------------------- */
.header__section {
	height: 2vh;
}

#logo a {
	text-decoration: none;
}

#logo a h3 {
	font-size: 130%;
	font-weight: 400;
	color: #ffffff;
}

.services__section {
	padding: 4%;
}

.services__section .row {
	margin-bottom: 30px;
}

.services__section .row p {
	font-size: 350%;
	font-weight: 400;
	color: #ffffff;
}

.services__section .row .col {
	padding: 1%;
}

.services__section .row h2 {
	font-size: 400%;
	font-weight: 700;
	color: #ffffff;
	margin-top: 70px;
}

.services__section .row .col h4 {
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 20px;
	color: #ffffff;
}

.services__section .row .col p {
	font-size: 100%;
	font-weight: 200;
	color: #000000;
}
/* ----------------------------------------------- */
