* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #555555;
	font-family: 'Manrope', sans-serif;
	font-size: 21px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	max-width: 1120px;
}

/* Re-usable components */
/* Row */
.row {
	margin: 0 auto;
}

/* Header */
header {
	height: 94vh;
}

/* ------------------- Navigation -------------------------- */
nav {
	align-items: center;
	background-color: #555555;
	display: flex;
	justify-content: space-around;
	min-height: 8vh;
	position: fixed;
	width: 100%;
	z-index: 999;
}

/* Logo */
#logo {
	margin-right: 700px;
	cursor: hand;
}

#logo a {
	text-decoration: none;
}

#logo a h3 {
	font-size: 130%;
	font-weight: 700;
	color: #ffffff;
}

.nav__links {
	align-items: center;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 92vh;
	position: absolute;
	width: 50%;
	right: 0;
	top: 8vh;
	transform: translateX(100%);
	transition: transform 0.3s ease-in;
}

.nav__links li {
	list-style: none;
	opacity: 0;
}

.nav__links a {
	letter-spacing: 2px;
	font-size: 250%;
	font-weight: bold;
	color: #ffffff;
}

/* ------------ Burger Menu ------------------------ */
.burger {
	cursor: default;
	display: block;
}

.burger div {
	width: 35px;
	height: 3px;
	background-color: #ffffff;
	margin: 5px;
}
/* ------------------------------------------------- */

.nav__active {
	transform: translateX(0%);
}

/* -------- Animations ----------------------------- */
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
/* ------------------------------------------------ */
/* ------------------------------------------------------------ */

.content {
	display: flex;
	height: 90vh;
	justify-content: center;
	align-items: center;
}

.hero {
	height: 90%;
	width: 90%;
	margin-top: 190px;
}

.hero p {
	height: 100%;
	width: 100%;
	font-size: 450%;
	font-weight: 700;
	color: #ffffff;
}

/* --------- Projects Section ----------- */
.selected__projects__section .row h2 {
	text-align: center;
	font-size: 300%;
	font-weight: 500;
	color: #ffffff;
	padding-bottom: 20px;
}

.selected__projects__section .wrapper {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.selected__projects__section .wrapper .projects {
    padding: 2em;
    border-radius: .3em;
    border: 1px solid #444444;
}

.selected__projects__section .wrapper .projects a img {
	width: 100%;
}

.selected__projects__section .wrapper .projects p {
	text-align: left;
	font-size: 75%;
	font-weight: 500;
	padding-bottom: 10px;
	margin-left: 10px;
	color: #ffffff;
}

.selected__projects__section .wrapper .projects p.skill {
    padding-top: 10px;
	font-size: 105%;
	font-weight: 700;
	color: #000000;
	margin-bottom: 10px;
}
/* ---------------------------------- */

/* -------- Footer Section ------ */
.footer .row .col {
	padding: 5%;
}

.footer .row .col p {
    font-size: 65%;
    color: #ffffff;
}

.footer .row .col p.contacts {
	text-decoration: underline;
	color: #ffffff;
}

.socials a {
	text-decoration: none;
	color: #ffffff;
}
/* ------------------------------ */
