body {
  font-family: "Manrope", sans-serif;
  font-size: 21px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

/* --------------Projects Section------------ */
.works__section .row h1 {
  font-size: 300%;
  font-weight: 600;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: -20px;
  text-align: center;
}

.works__section .wrapper {
  padding: 4em;
  display: grid;
  grid-gap: 4em;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
}

.works__section .wrapper .projects {
  padding: 1em;
  border-radius: 0.3em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.works__section .wrapper .projects a img {
  width: 100%;
}

.works__section .wrapper .projects p {
  text-align: left;
  font-size: 50%;
  font-weight: 200;
  padding-bottom: 10px;
  margin-left: 10px;
  color: #ffffff;
}

.works__section .wrapper .projects p.skill {
  padding-top: 10px;
  font-size: 80%;
  font-weight: 500;
  color: #000000;
}
/* ---------------------------------------------- */
