/* -------------- THE SERVICES PAGE ---------------- */
.header__section {
    height: 6vh;
}

.services__section {
	padding: 6%;
}

.services__section .row {
	margin-bottom: 10px;
}

.services__section .row p {
	font-size: 250%;
	font-weight: 700;
}

.services__section .row .col {
	padding: 1%;
}

.services__section .row h2 {
	font-size: 300%;
	font-weight: 700;
	color: #ffffff;
}

.services__section .row .col h4 {
	font-size: 150%;
	font-weight: 700;
	margin-bottom: 10px;
	color: #ffffff;
}

.services__section .row .col p {
	font-size: 60%;
	font-weight: 200;
}
/* ----------------------------------------------- */
