/* ------------------- Navigation -------------------------- */
nav {
	background-color: #d5d5d5;
}

.nav__links {
	background-color: #999999;
}

.nav__links a {
	color: #000000;
}

/* ------------------------------------------------------------ */

/* --------The Services Page ---------------------- */
.header__section {
	height: 8vh;
}

.approach__section {
	padding: 4%;
}

.approach__section .row {
	margin-bottom: 60px;
}

.approach__section .row h2 {
	font-size: 300%;
	font-weight: normal;
}

.approach__section .row p {
	font-size: 300%;
}

.approach__section .row .white {
	color: #ffffff;
}

.approach__section .row .col {
	padding: 1%;
}

.approach__section .row .col h2 {
	margin-bottom: 30px;
	font-weight: 200;
}

.approach__section .row .col p {
	font-size: 80%;
}

.approach__section .row__fluid {
	margin-left: 400px;
}

.approach__section .row .col .section__one {
	margin-bottom: 20px;
}
/* -------- Footer Section ------ */
.footer .row .col {
	padding: 6%;
	font-size: 80%;
}

.footer__section {
	color: #000000;
}

.contacts {
	text-decoration: underline;
}

.socials {
	color: #ffffff;
}

.socials a {
	color: #ffffff;
}
/* -------------------------------------------- */
