/* -----------------Contact Page----------------- */
.contact__section {
	padding: 4%;
}

.contact__section .row .white {
	color: #ffffff;
	font-size: 300%;
	margin-bottom: 20px;
}

.contact__section .row p {
	font-size: 180%;
}

.contact__section .row .mail {
	text-decoration: underline;
	font-size: 150%;
	margin-top: 20px;
}

.contact__section .row .cell {
	font-size: 150%;
}
/* --------------------------------------------- */
