/* -------------- THE SERVICES PAGE ---------------- */
.services__section {
	padding: 4%;
}

.services__section .row {
	margin-bottom: 10px;
}

.services__section .row p {
	font-size: 240%;
}

.services__section .row .col {
	padding: 1%;
}

.services__section .row h2 {
	font-size: 300%;
	font-weight: 700;
	color: #ffffff;
}

.services__section .row .col h4 {
	font-size: 200%;
	font-weight: 200;
	margin-bottom: 20px;
	color: #ffffff;
}

.services__section .row .col p {
	font-size: 70%;
}
/* ----------------------------------------------- */
